{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}System-Status{% endtrans %}</h1>


    {% if resultMessage %}
    <div class="alert alert-danger" role="alert">
        {{ resultMessage }}
    </div>
    {% endif %}


    <div class="row row-cols-md-1 mb-3">
        <div class="card">
            <div class="card-header">
                {% trans %}Aktuelle Zeit{% endtrans %}
            </div>
            <div class="card-body">
                {{ current_time | raw }}
            </div>
        </div>
    </div>

    <div class="row row-cols-md-1 mb-3">
        <div class="card">
            <div class="card-header">
                {% trans %}M3U Playlist{% endtrans %}
            </div>
            <div class="card-body">
                {{ playlist_file | raw }}
            </div>
        </div>
    </div>

    <div class="row row-cols-md-1 mb-3">
        <div class="card">
            <div class="card-header">
                {% trans %}MPD Status{% endtrans %}
                <a href="{{ path('system_reset_mpd') }}"><i class="fas fa-hammer"></i></a>
            </div>
            <div class="card-body">
                {{ mpd_status | raw }}
            </div>
        </div>
    </div>

    <div class="row row-cols-md-1 mb-3">
        <div class="card">
            <div class="card-header">
                {% trans %}MPC Status{% endtrans %}
            </div>
            <div class="card-body">
                {{ mpc_status | raw }}
            </div>
        </div>
    </div>

    <div class="row row-cols-md-1 mb-3">
        <div class="card">
            <div class="card-header">
                {% trans %}MPC Playlist{% endtrans %}
            </div>
            <div class="card-body">
                {{ mpc_playlist | raw }}
            </div>
        </div>
    </div>

{% endblock %}
