{% extends 'base.html.twig' %}

{% block body %}
<h1>{% trans %}Senderliste{% endtrans %}</h1>

{% if stationError is defined and stationError %}
    <div class="alert alert-danger" role="alert">
        {{ stationError }}
    </div>
{% endif %}

<div class="d-flex flex-wrap">
{% for station in stations %}
    <div class="card station-card m-1">
        <div class="card-header text-nowrap">
            {{  station.name }}&nbsp;&nbsp;<a style="font-size: 0.7em;" href="{{ path('station_delete', { id: station.id } ) }}"><i class="fas fa-trash"></i></a>
        </div>
        <div class="card-body">
            <a href="{{ path('station_play', { id: station.id } ) }}">
                <img class="station-logo" src="{{ logoPath }}/{{ station.logoname }}" />
            </a>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
