{% extends 'base.html.twig' %}

{% block body %}
<h1>{% trans %}Senderliste{% endtrans %}</h1>

{% if stationError is defined and stationError %}
    <div class="alert alert-danger" role="alert">
        {{ stationError }}
    </div>
{% endif %}

<div class="d-flex flex-wrap">
{% for station in stations %}
    <div class="card station-card m-1">
        <div class="card-header row mr-0 ml-0">
            <div class="col-11 text-nowrap pl-0 pr-0">
                {{  station.name }}
            </div>
            <div class="col-1 pl-0 pr-0">
                <a style="font-size: 0.7em;" href="{{ path('station_delete', { id: station.id } ) }}"><i class="fas fa-trash"></i></a>
            </div>
        </div>
        <div class="card-body">
            <a href="{{ path('station_play', { id: station.id } ) }}">
                <img class="station-logo" src="{{ logoPath }}/{{ station.logoname }}" />
            </a>
        </div>
    </div>
{% endfor %}
</div>

{% include 'station/form.html.twig' %}

{% endblock %}
